<h1>Twitter Job Search Engine (<a href="/job_tweets.atom">feed</a>)</h1>

<p>
TweetJobSearch is an <a href="http://github.com/feedbackmine/tweetjobsearch/tree/master">open source</a> search engine for job posted on <a href="twitter.com">Twitter</a>.
</p>

<%= render :partial => 'tweets/search' %>

<table>
<% @tweets.each do |tweet| %>
<% if tweet %>
  <tr>
  <td>
    <%= render :partial => 'tweets/tweet', :locals => {:tweet => tweet} %>
  </td>
  </tr>
<% end %>
<% end %>
</table>

<%= will_paginate @tweets %>
