<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>Search jobs on Twitter</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection"/>
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print"/> 
  <!--[if IE]>
    <link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection"/>
  <![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= yield :head %>
</head>

<body>
  <div class="container">
  	<div class="span-24">
  	</div>

  	<div class="span-4">
  	</div>
  	
  	<div class="span-16">
  		<%= yield :layout %>
  	</div>
  	
  	<div class="span-4 last">
  	<script type="text/javascript" charset="utf-8" language="javascript" src="http://static.polldaddy.com/p/1385890.js"></script><noscript> <a href ="http://answers.polldaddy.com/poll/1385890/" >Have Twitter helped you to find a job?</a>  <br/> <span style="font-size:9px;"> (<a href ="http://www.polldaddy.com">  surveys</a>)</span></noscript>
  	</div>
	  
	  <hr/>
	  
  	<div class="span-24">
  		<a href="http://twitter.com/feedbackmine">Follow us on Twitter</a> |
  		<a href="http://github.com/feedbackmine/tweetjobsearch/tree/master">View source code</a>|
  		<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#tabs=web%2Cpost%2Cemail&amp;charset=utf-8&amp;style=default&amp;publisher=1632982b-c3d2-4bcd-855b-d9c5da33330e"></script> |
      <a href="http://getsatisfaction.com/feedbackmine">Leave feedback</a> |
      <a href="http://sentimenthub.com/projects/tweetjobsearch">What people say about tweetjobsearch</a>
  	</div>
  </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2327397-4");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>


